In [35]:
import pandas as pd

In [36]:
import pandas as pd
df = pd.read_csv('history.csv')
df.sample(5)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
104,"Banda Aceh, Indonesia",2023-04-15,33.3,11.0,26.8,39.4,11.0,29.2,21.9,75.4,...,24.4,10,60,2023-04-15T06:31:45,2023-04-15T18:46:09,0.82,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"96001099999,9HA3459,remote,96011099999"
61,"Banda Aceh, Indonesia",2023-03-03,29.2,24.6,26.2,32.4,24.6,26.6,21.5,76.1,...,8.5,5,10,2023-03-03T06:50:08,2023-03-03T18:51:29,0.36,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"96001099999,remote,96011099999"
38,"Banda Aceh, Indonesia",2023-02-08,30.0,23.8,26.2,35.0,23.8,27.4,22.7,81.4,...,21.3,9,30,2023-02-08T06:55:28,2023-02-08T18:50:25,0.58,"Rain, Overcast",Cloudy skies throughout the day with rain clea...,rain,"96001099999,remote,96011099999"
25,"Banda Aceh, Indonesia",2023-01-26,29.0,23.1,25.2,32.8,23.1,25.8,22.1,83.8,...,17.9,9,10,2023-01-26T06:55:15,2023-01-26T18:47:10,0.15,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"96001099999,VRIV3,remote,96011099999"
130,"Banda Aceh, Indonesia",2023-05-11,34.8,23.7,28.5,43.8,23.7,31.9,23.0,72.4,...,24.7,9,10,2023-05-11T06:24:30,2023-05-11T18:45:52,0.70,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"96001099999,remote,96011099999"

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              152 non-null    object
 1   datetime          152 non-null    object
 2   tempmax           152 non-null    float64
 3   tempmin           152 non-null    float64
 4   temp              152 non-null    float64
 5   feelslikemax      152 non-null    float64
 6   feelslikemin      152 non-null    float64
 7   feelslike         152 non-null    float64
 8   dew               152 non-null    float64
 9   humidity          152 non-null    float64
 10  precip            152 non-null    float64
 11  precipprob        152 non-null    int64
 12  precipcover       152 non-null    float64
 13  preciptype        142 non-null    object
 14  snow              152 non-null    int64
 15  snowdepth         152 non-null    int64
 16  windgust          152 non-null    float64
 17  windspeed         152 non-null    float64
 18  winddir           152 non-null    float64
 19  sealevelpressure  152 non-null    float64
 20  cloudcover        152 non-null    float64
 21  visibility        152 non-null    float64
 22  solarradiation    152 non-null    float64
 23  solarenergy       152 non-null    float64
 24  uvindex           152 non-null    int64
 25  severerisk        152 non-null    int64
 26  sunrise           152 non-null    object
 27  sunset            152 non-null    object
 28  moonphase         152 non-null    float64
 29  conditions        152 non-null    object
 30  description       152 non-null    object
 31  icon              152 non-null    object
 32  stations          152 non-null    object
dtypes: float64(19), int64(5), object(9)
memory usage: 39.3+ KB

In [38]:
#datetime, temp, feels_like, conditions
selected_columns = ['datetime', 'temp', 'feelslike', 'conditions']
df2 = df[selected_columns]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    152 non-null    object
 1   temp        152 non-null    float64
 2   feelslike   152 non-null    float64
 3   conditions  152 non-null    object
dtypes: float64(2), object(2)
memory usage: 4.9+ KB

In [39]:
def print_all_unique_col_values(df):
  for column in df:
      print(f"{column} : {df[column].unique()}")


def print_object_unique_col_values(df):
  for column in df:
    if df[column].dtypes == 'object':
      print(f"{column} : {df[column].unique()}")


print_object_unique_col_values(df2)

datetime : ['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'
 '2023-01-06' '2023-01-07' '2023-01-08' '2023-01-09' '2023-01-10'
 '2023-01-11' '2023-01-12' '2023-01-13' '2023-01-14' '2023-01-15'
 '2023-01-16' '2023-01-17' '2023-01-18' '2023-01-19' '2023-01-20'
 '2023-01-21' '2023-01-22' '2023-01-23' '2023-01-24' '2023-01-25'
 '2023-01-26' '2023-01-27' '2023-01-28' '2023-01-29' '2023-01-30'
 '2023-01-31' '2023-02-01' '2023-02-02' '2023-02-03' '2023-02-04'
 '2023-02-05' '2023-02-06' '2023-02-07' '2023-02-08' '2023-02-09'
 '2023-02-10' '2023-02-11' '2023-02-12' '2023-02-13' '2023-02-14'
 '2023-02-15' '2023-02-16' '2023-02-17' '2023-02-18' '2023-02-19'
 '2023-02-20' '2023-02-21' '2023-02-22' '2023-02-23' '2023-02-24'
 '2023-02-25' '2023-02-26' '2023-02-27' '2023-02-28' '2023-03-01'
 '2023-03-02' '2023-03-03' '2023-03-04' '2023-03-05' '2023-03-06'
 '2023-03-07' '2023-03-08' '2023-03-09' '2023-03-10' '2023-03-11'
 '2023-03-12' '2023-03-13' '2023-03-14' '2023-03-15' '2023-03-16'
 '2023-03-17' '2023-03-18' '2023-03-19' '2023-03-20' '2023-03-21'
 '2023-03-22' '2023-03-23' '2023-03-24' '2023-03-25' '2023-03-26'
 '2023-03-27' '2023-03-28' '2023-03-29' '2023-03-30' '2023-03-31'
 '2023-04-01' '2023-04-02' '2023-04-03' '2023-04-04' '2023-04-05'
 '2023-04-06' '2023-04-07' '2023-04-08' '2023-04-09' '2023-04-10'
 '2023-04-11' '2023-04-12' '2023-04-13' '2023-04-14' '2023-04-15'
 '2023-04-16' '2023-04-17' '2023-04-18' '2023-04-19' '2023-04-20'
 '2023-04-21' '2023-04-22' '2023-04-23' '2023-04-24' '2023-04-25'
 '2023-04-26' '2023-04-27' '2023-04-28' '2023-04-29' '2023-04-30'
 '2023-05-01' '2023-05-02' '2023-05-03' '2023-05-04' '2023-05-05'
 '2023-05-06' '2023-05-07' '2023-05-08' '2023-05-09' '2023-05-10'
 '2023-05-11' '2023-05-12' '2023-05-13' '2023-05-14' '2023-05-15'
 '2023-05-16' '2023-05-17' '2023-05-18' '2023-05-19' '2023-05-20'
 '2023-05-21' '2023-05-22' '2023-05-23' '2023-05-24' '2023-05-25'
 '2023-05-26' '2023-05-27' '2023-05-28' '2023-05-29' '2023-05-30'
 '2023-05-31' '2023-06-01']
conditions : ['Rain, Partially cloudy' 'Partially cloudy' 'Rain, Overcast' 'Clear'
 'Overcast']

CONDITIONS = ['Rain, Partially cloudy' 'Partially cloudy' 'Rain, Overcast' 'Overcast'
 'Clear']

In [40]:
df2.to_csv('weather_data_JanuarytoMei.csv', index=False)

In [42]:
df2.to_('weather_data_JanuarytoMei.xlsx', index=False)